NEXT_PUBLIC_CHAIN_ID=56
NEXT_PUBLIC_CHAIN_NAME=BNB Chain
NEXT_PUBLIC_ZARAI_TOKEN_ADDRESS=0xb6F69E830E13f6Dd57edBCC7B12d18299E131323
NEXT_PUBLIC_SALE_CONTRACT_ADDRESS=0xb509dF201C4dA14cCc1Ce925ba7ad7Db33Ae6AcF
NEXT_PUBLIC_PAYMENT_TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
NEXT_PUBLIC_BSCSCAN_BASE_URL=https://bscscan.com
